@model Question
@inject CenterManagement.Data.ApplicationDbContext _context
@inject IHttpContextAccessor _httpContextAccessor
@using System.Security.Claims

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title class="text-capitalize">Orders</title>
        <style>
            html::-webkit-scrollbar, .comments::-webkit-scrollbar, .dropdown-content::-webkit-scrollbar {
                width: 10px;
                right: 0;
            }

            html::-webkit-scrollbar-thumb, .comments::-webkit-scrollbar-thumb, .dropdown-content::-webkit-scrollbar-thumb {
                background-color: #140920;
            }

            html::-webkit-scrollbar-track, .comments::-webkit-scrollbar-track, .dropdown-content::-webkit-scrollbar-track {
                background-color: white;
            }

            tr:nth-child(odd) {
                background-color: #262525;
                color: white;
            }

            tr:nth-child(even) {
                background-color: #555454;
                color: white;
            }

            * {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
                font-family: "Open Sans", sans-serif;
            }

            :root {
                --main-color: #2199e8;
                --secondary-color: #ffc107;
                --radius: 5px;
            }


            .scroller {
                background-color: #140920;
                position: fixed;
                left: 0;
                top: 0;
                border-radius: 10px;
                z-index: 100;
                height: 5px;
            }

            h1 {
                font-size: 1.9em;
                font-weight: 700;
                color: #262137;
                padding: 30px;
            }

            .section{
                overflow-x: scroll;
            }
            .section::-webkit-scrollbar{
                height: 10px;
                bottom:0;
            }

            .section::-webkit-scrollbar-thumb {
                background-color: #140920;
            }

            .section::-webkit-scrollbar-track {
                background-color: white;
            }

            table {
                min-width: 900px !important;
                color: white;
                margin-bottom: 50px;
            }

            thead td {
                font-weight: bold;
                background-color: #0c1527;
            }

            td {
                font-size: 15px;
                padding: 4px;
                width: fit-content;
                text-align: center;
            }

        </style>
    </head>
    <body>
        <div class="scroller"></div>
        <div class="main d-flex row col-12">
            <h1 class="my-3 text-center">The Exam Questions</h1>
            <div class="sections-container d-flex col-12 justify-content-evenly">
                <div class="section my-3 col-lg-10 col-md-10 col-sm-12 projects-section">
                    <table class="col-12">
                        <thead>
                            <tr>
                                <td>Question Numbre</td>
                                <td>Question</td>
                                <td>Frist Choose</td>
                                <td>Second Choose</td>
                                <td>Third Choose</td>
                                <td>Fourth Choose</td>
                                <td>Correct Choose</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Question item in @ViewBag.Questions)
                            {
                                <tr>
                                    <form asp-controller="Exams" asp-action="UpdateQuestion" method="get">
                                    <td>@item.Numbre</td>
                                    <td>@item.Quest</td>
                                    <td>@item.FristAnswer</td>
                                    <td>@item.SecondAnswer</td>
                                    <td>@item.ThirdAnswer</td>
                                    <td>@item.ForthAnswer</td>
                                    <td>@item.CorrectAnswer</td>
                                    <input hidden type="text" asp-for="Numbre" value="@item.Numbre" />
                                    <input hidden type="text" asp-for="ExamId" value="@item.ExamId" />
                                    <td>
                                        <button class="btn btn-success col-5">Update</button>
                                        <button asp-action="RemoveQuestion" type="submit" class="btn btn-danger col-5">Remove</button>
                                    </td>
                                    </form>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script src="~/js/dashboard.js"></script>
    </body>
</html>