@model CenterManagement.ViewModels.TeacherIdVM

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Teacher_Page.css">
    <link rel="stylesheet" href="~/css/PersonalPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Roboto:wght@100;300;400;500;700;900&family=Sigmar+One&display=swap" rel="stylesheet">
    <title>Home Page</title>
</head>
<body class="all-stores-page-body">
    <div class="scroller"></div>
     <div class="workshop-card" style="margin-top:110px!important;">
            <img src="~/Uploads/@ViewBag.teacher.ImageUrl" alt="Personal Image">
            <h2>@ViewBag.Teacher.FristName @ViewBag.Teacher.LastName </h2>
            <div class="workshop-details">
                <p><strong> Subject :</strong>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book-half" viewBox="0 0 16 16">
                        <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
                    </svg> @ViewBag.Teacher.Subject
                </p>
                <p>
                    <strong> Address :</strong>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                    </svg> @ViewBag.Teacher.Governorate - @ViewBag.Teacher.City
                </p>
                <p>
                    <strong>Phone Numbre :</strong>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill"
                         viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                    </svg> @ViewBag.Teacher.PhoneNumber
                </p>
                <p>
                    <strong>Email :</strong>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
                        <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z" />
                        <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034v.21Zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z" />
                    </svg> @ViewBag.Teacher.Email
                </p>
            </div>
           <form asp-action="ContactTeacher" class="d-flex justify-content-center w-100">
                <input type="submit" class="btn btn-primary my-3 contact" style="min-width:fit-content;margin:10px auto;" value="Contact Us" />
           </form>
     </div>
    <section class="cards" style="padding:30px;">
        <h2 class="title">Choose Your Level</h2>
        <div id="content" class="content">
            <form asp-controller="Teachers" asp-action="SystemTracks">
                <input hidden value="@ViewBag.Teacher.Id" asp-for="Id" />
                <input hidden value="1prep" asp-for="year" />
                <button type="submit" class="card prep1"></button>
            </form>
            <form asp-controller="Teachers" asp-action="SystemTracks">
                <input hidden value="@ViewBag.Teacher.Id" asp-for="Id" />
                <input hidden value="2prep" asp-for="year" />
                <button type="submit" class="card prep2"></button>
            </form>
            <form asp-controller="Teachers" asp-action="SystemTracks">
                <input hidden value="@ViewBag.Teacher.Id" asp-for="Id" />
                <input hidden value="3prep" asp-for="year" />
                <button type="submit" class="card prep3"></button>
            </form>
            <form asp-controller="Teachers" asp-action="SystemTracks">
                <input hidden value="@ViewBag.Teacher.Id" asp-for="Id" />
                <input hidden value="1sec" asp-for="year" />
                <button type="submit" class="card sec1"></button>
            </form>
            <form asp-controller="Teachers" asp-action="SystemTracks">
                <input hidden value="@ViewBag.Teacher.Id" asp-for="Id" />
                <input hidden value="2sec" asp-for="year" />
                <button type="submit" class="card sec2"></button>
            </form>
            <form asp-controller="Teachers" asp-action="SystemTracks">
                <input hidden value="@ViewBag.Teacher.Id" asp-for="Id" />
                <input hidden value="3sec" asp-for="year" />
                <button type="submit" class="card sec3"></button>
            </form>
        </div>
    </section>
    <script>
        document.querySelectorAll("#content a").forEach(ele,()=>{
            ele.onclick = () => {
                localStorage.setItem("AcademyYear", ele.value);
            }
        })
    </script>
</body>
</html>