@model Question
@inject CenterManagement.Data.Data.ApplicationDbContext _context
@inject IHttpContextAccessor _httpContextAccessor
@using System.Security.Claims

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title class="text-capitalize">Orders</title>
        <link rel="stylesheet" href="~/css/Teacher_Exams_List.css">
    </head>
    <body>
        <div class="scroller"></div>
        <div class="main d-flex row col-12">
            <h1 class="my-3 text-center">The Exam Questions</h1>
            <div class="sections-container d-flex col-12 justify-content-evenly">
                <div class="section my-3 col-lg-10 col-md-10 col-sm-12 projects-section">
                    <table class="col-12">
                        <thead>
                            <tr>
                                <td>Question Numbre</td>
                                <td>Question</td>
                                <td>Frist Choose</td>
                                <td>Second Choose</td>
                                <td>Third Choose</td>
                                <td>Fourth Choose</td>
                                <td>Correct Choose</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Question item in @ViewBag.Questions)
                            {
                                <tr>
                                    <form asp-action="UpdateQuestion" method="get">
                                    <td>@item.Numbre</td>
                                    <td>@item.Quest</td>
                                    <td>@item.FristAnswer</td>
                                    <td>@item.SecondAnswer</td>
                                    <td>@item.ThirdAnswer</td>
                                    <td>@item.ForthAnswer</td>
                                    <td>@item.CorrectAnswer</td>
                                    <input hidden type="text" asp-for="Numbre" value="@item.Numbre" />
                                    <input hidden type="text" asp-for="ExamId" value="@item.ExamId" />
                                    <td>
                                        <button class="btn btn-success col-5">Update</button>
                                        <button asp-action="RemoveQuestion" type="submit" class="btn btn-danger col-5">Remove</button>
                                    </td>
                                    </form>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script src="~/js/dashboard.js"></script>
    </body>
</html>