@model Lesson

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/css/UpdateTeacherData.css">
</head>
<body>
    <div class="scroller"></div>
    <div class="wrapper">
        <form novalidate="" enctype="multipart/form-data" asp-action="UpdateLessonDetails" method="get">
            <h1>@ViewBag.Lesson.LessonTitle Lesson Details</h1>
            <div class="input-box my-3">
                <label asp-for="Id" style="font-size:1.2em;font-weight:500;color:#fff;" class="form-label">The Lesson Id </label>
                <input asp-for="Id" type="text" value="@ViewBag.Lesson.Id" required autocomplete="off" readonly />
            </div>
            <div class="input-box my-3">
                <label style="font-size:1.2em;font-weight:500;color:#fff;" class="form-label">The Lesson Title </label>
                <input type="text" value="@ViewBag.Lesson.LessonTitle" required autocomplete="off" readonly />
            </div>
            <div class="input-box my-3">
                <label style="font-size:1.2em;font-weight:500;color:#fff;" class="form-label">The Lesson Discreption </label>
                <input type="text" value="@ViewBag.Lesson.Discreption" required autocomplete="off" readonly />
            </div>
            <div class="input-box my-3">
                <label style="font-size:1.2em;font-weight:500;color:#fff;" class="form-label">The Academy Year </label>
                <input type="text" value="@ViewBag.Lesson.AcademyYear" required autocomplete="off" readonly />
            </div>
            <div class="input-box my-3">
                <label style="font-size:1.2em;font-weight:500;color:#fff;" class="form-label">The Monthly Enrollment </label>
                <input type="text" value="@ViewBag.Lesson.Month" required autocomplete="off" readonly />
            </div>
            <div class="d-flex justify-content-around">
                <div>
                    <h4 style="font-size:1.2em;font-weight:500;color:#fff;width:100%;" class="form-label">The Lesson ThumbnailUrl </h4>
                    <img src="~/Uploads/@ViewBag.Lesson.ThumbnailUrl" style="width:180px;height:120px;" />
                </div>
                <div>
                    <h4 style="font-size:1.2em;font-weight:500;color:#fff;width:100%;" class="form-label">The Lesson Vedio </h4>
                    <video src="~/Vedios/@ViewBag.Lesson.VedioUrl" controls style="width:180px;height:120px;" />
                </div>
            </div>
            <button type="submit" style="text-align:center;" class="btn cancel col-5  my-2">UPdate Lesson Data</button>
        </form>
    </div>

</body>
</html>